@import "tailwindcss";



body {
  @apply text-white;
  background-color: #0f172a;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;


}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-move-right {
  animation: move-right 1.2s infinite;
}
